

table{
    margin: auto;
    border-collapse: collapse;
    font-size: x-large;
    display: block;

}

.titulo{
    grid-area: titulo;
    text-align: center;
    background-color: #38761D;
    color: white;
    font-weight: bold;
}

.ingresos{
    grid-area: ingresos;
    margin-top: 0px;
    padding-top: 0px;
   
}

.ingresos table{
    margin-top: 0px;
    padding-top: 0px;
    
}
.div-tabla{
    margin-top: 0px;
    padding-top: 0px;
}

.gastos{
    grid-area: gastos;
}


.text-center{
    text-align: center;
}

.title{
    font-weight: bold;
    margin: 0px auto
}


th,td{

    border: 1px solid gray;

}

.right{
    text-align: right;
}


.cabecera2{
    background-color: #6AA84F;
    font-weight: bold;
}

.cabecera3{
    background-color: #8BC34A;
    font-weight: bold;
}