form{
  display: grid;
  grid-gap: 1rem;
}
.row{
  justify-content: center;
}
input{
  height: 2.5rem;
}
input[type="submit"]{
  color:#F8F9FA;
  border: none;
}
h3{
  text-align: center;
}
.borde{
  padding: 1rem;
  background-color: #4BAC4E;
}
.card-body{
  background-color: #F8F9FA;
}
.grid{
  display: grid;
}
.btn-success{
  background-color: #4BAC4E;
}

